@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

.owl-carousel {
  display: block;
}

a, a:hover, 
a:focus, a:active,
[role="link"], 
.next-link, 
[data-nextjs-link] {
  text-decoration: none !important;
}